* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/*Typography starts here*/
.regular-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}
.text-sm {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.text-md {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.text-md-cl {
    font-size: 18px;
    line-height: 27px;
    font-size: 400;
    color: #969BA0;
}

.text-lg {
    font-weight: 700;
    font-size: 24px;
}

.text-xt-lg {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}

.text-lg-lt {
    font-size: 400;
    font-size: 24px;
    line-height: 36px;
}
/*Typograohy ends here*/
.header {
    display: flex;
    margin: 30px;
    background: white;
}

.top-left {
    width: 155px;
    height: 36px;
    top: 18px;
}

.logo {
    color: #FDA403;
}

.top-right {
    margin-left: 1400px;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.notification {
    width: 15px;
    height: 25px;
    margin-right: 40px;
}

.admin-icon {
    width: 39px;
    height: 39px;
    background:#5A607F ;
    border-radius: 50px;
    margin-right: 10px;
}

.admin{
    color: #5A607F;
    margin-right: 15px;
}

.drop-down {
    height: 25px;
}

.main {
    margin: 30px;
    display: flex;
}

.bottom-left {
    width: 237px ;
    height: 750px;
    background: white;
}

.item {
    display: flex;
    margin-top: 35px;
    align-items: center;
}

.text {
    margin-left: 20px;
}

.menu {
    color: #92929D;
}

.line {
    height: 1000px;
    left: 237px;
    position: absolute;
    top: 0;
    margin-left: -3px;
    border-left: 1px solid black;
}

.bottom-right {
    margin-top: 0;
    background: #FAFAFB;
}

.top {
    display: flex;
    width: 100%;
}

.left-top {
    width:1200px;
}

.button-1 {
    background: #FAFCFE;
    color: #FF0000;
    border: 1px solid #FF1A00;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    width: 165.02px;
    margin-right: 12px;
}

.button-2 {
    background: #FDA403;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    width: 167px;
    border-color: #FDA403;
}

.middle {
    display: flex;
    height: 180px;
    background: #3E4954;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.driver {
    width: 135px;
    height: 129px;
    border-radius: 126px;
    background:#C4C4C4;
    align-self: center;
    margin-left: 35px;
}

.driver-details {
    align-items: center;
    margin-left: 30px;
    height: 129px;
    width: 200px;
    color: white;
    margin: auto;
}

.delivery-detail-container {
    display: flex;
    margin-left: 100px;
    margin-right: 20px;
}

.delivery-detail {
    display: flex;
    background: #FDA403;
    border-radius: 12px;
    height: 85px;
    width: 300px;
    margin-right: 20px;
    margin-top: 48px;
    color: white;
    padding-left: 20px;
    align-items: center;
}

.delivery-detail-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.lower {
    display: flex;
    width: 100%;
}

.delivery-cards {
    background: white;
    height: 400px;
    width: 30%;
    /* top: 444px; */
    border-radius: 20px;
    /* margin-top: 50px;
    margin-right: 50px; */
    margin: auto;
    padding: 25px;

}

.instruction {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 20px;
}

 @media (min-width: 1700px) {
    .bottom-right {
        margin-top: 0;
        margin-left: 100px;
        background: #FAFAFB;
    }
    .left-top {
        width:800px;
    }
  } 